body{
  font-family:Segoe UI;
  background:#f4f7fb;
  margin:0;
}

.header{
  display:flex;
  gap:15px;
  padding:15px;
  background:white;
  box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

.header img{height:60px}

.card{
  max-width:500px;
  margin:40px auto;
  background:white;
  padding:25px;
  border-radius:10px;
}

input,button{
  width:100%;
  padding:10px;
  margin:6px 0;
}